<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-padding" name="arrow-back-outline" slot="start" (click)="paginaAnterior()"></ion-icon>
    <ion-title color="warning" class="ion-text-center">Confirmación de Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <form *ngIf="mesaCheckForm" [formGroup]="mesaCheckForm" (ngSubmit)="confirmarMesa()">
    <ion-grid fixed class="bordered-item">
      <ion-row>
        <ion-col size="4">
          <ion-text class="ion-padding agrandado">Mesa N°</ion-text>
          <ion-item lines="none" class="ion-text-center bordered-item">
            <ion-input type="number" class="ion-text-center" [readonly]="true" formControlName="mesa">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-text class="ion-padding agrandado">Datos del Ocupante</ion-text>
          <ion-item lines="none" class="ion-text-center bordered-item">
            <ion-input type="text" class="ion-text-center" formControlName="cliente" readonly>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-icon name="body-outline" slot="start"></ion-icon>
      <ion-label>Rut del Cliente</ion-label>
      <ion-input type="text" formControlName="rut" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label> Cantidad de Personas</ion-label>
      <ion-input type="number" formControlName="cantidad" class="editable-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-datetime
        label="Fecha y Hora de la Reserva"
        labelPlacement="floating"
        color="warning"
        formControlName="fechayhora"
        required
        presentation="date-time">
      </ion-datetime>
    </ion-item>

    <ion-button expand="block" shape="round" color="warning" class="ion-padding" type="submit"
      [disabled]="mesaCheckForm.invalid">
      Confirmar mesa
    </ion-button>
  </form>
</ion-content>
