<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-padding" name="arrow-back-outline" slot="start" (click)=paginaAnterior();></ion-icon>
    <ion-title color="warning" class="ion-text-center">Confirmación de Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  

  <ion-text color="dark">
    <h1 class="ion-text-center">Detalles de la mesa</h1>
  </ion-text>
  <div>
    <ion-grid fixed class="bordered-item">
      <ion-row>
        <ion-col size="4">
          <ion-text class="ion-padding agrandado">Mesa N°</ion-text>
          <ion-item lines="none" class="ion-text-center bordered-item">
            <ion-label position="stacked" class="ion-text-center"></ion-label>
            <ion-input type="number" class="ion-text-center" [readonly]="true" [value]="numeroMesa">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2"></ion-col>
        <ion-col size="6">
          Datos del Ocupante
          <ion-input type="text" class="ion-text-center bordered-item" [value]="'Esteban Quito'">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-text color="dark">
      <form [formGroup]="mesaCheckForm" >
        <ion-item>
          <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-button block color="primary" type="submit">
          Login
        </ion-button>
      </form>
      <h4>Rut del cliente: </h4>
      <ion-input type="text" placeholder="Ingresa tu Rut"></ion-input>
      <h4>Correo del cliente: </h4>
      <ion-input type="text" placeholder="Ingresa tu correo"></ion-input>
      <h4>Cantidad de personas: </h4>
      <h4>Fecha y Hora de la reserva: </h4>
    </ion-text>
  </div>
  <ion-button expand="block" shape="round" color="warning" class="ion-padding" (click)=confirmarMesa()>
    Confirmar mesa
  </ion-button>
</ion-content>

