<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-padding" name="arrow-back-outline" slot="start" (click)="paginaAnterior()"></ion-icon>
    <ion-title color="warning" class="ion-text-center">Confirmación de Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed class="bordered-item">
    <ion-row>
      <ion-col size="5">
        <ion-text class="ion-padding agrandado">Mesa N°</ion-text>
        <ion-item lines="none" class="ion-text-center bordered-item">
          <ion-label position="stacked" class="ion-text-center"></ion-label>
          <ion-input type="number" class="ion-text-center" [readonly]="true" [value]="numeroMesa">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="6">
        <ion-text class="ion-padding">Ocupante</ion-text>
        <ion-input type="text" class="ion-text-center bordered-item" [readonly]="true" [value]="usuario.nombre + ' ' + usuario.apellido">
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="dark">
    <h1>Detalles de la mesa</h1>
  </ion-text>

  <div class="ion-padding" *ngIf="usuario">
    <ion-text color="dark">
      <h4><strong>Rut: </strong>{{ usuario.rut }}</h4>
      <h4><strong>Correo: </strong>{{ usuario.correo }}</h4>
      <h4><strong>Cantidad de personas: </strong> {{ usuario.cantidadpersonas }}</h4>
      <h4><strong>Fecha y hora: </strong> nada x ahora </h4>
    </ion-text>
  </div>

  <ion-button expand="block" shape="round" color="warning" class="ion-padding" (click)="confirmarMesa()">
    Confirmar mesa
  </ion-button>
</ion-content>