<ion-header>
  <ion-toolbar color="dark">
    <ion-icon class="ion-padding" name="arrow-back-outline" slot="start" (click)=paginaAnterior();></ion-icon>
    <ion-title color="warning" class="ion-text-center">ADMIN</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" color="dark">
  <ion-title class="ion-text-center">Administrar</ion-title>
  <ion-segment [(ngModel)]="valorsegmento">
    <ion-segment-button value="usuarios">
      <ion-label>Usuarios</ion-label>
    </ion-segment-button>
    <ion-segment-button value="productos">
      <ion-label>Productos</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ng-container *ngIf="valorsegmento === 'usuarios'">
    <p>Aquí se muestran los usuarios disponibles.</p>
  </ng-container>
  
  <ng-container *ngIf="valorsegmento === 'productos'">
    <p>Aquí se muestra los productos disponibles.</p>
  </ng-container>
  

</ion-content>