<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="warning" class="ion-text-center">Bienvenido/a</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" color="dark">
  <h1 class="ion-text-center">¡Bienvenido a Eat&Go!</h1>
  <div class="welcome-container ion-text-center">
    <br>
    <br>
    <h1>
      <form (ngSubmit)="comprobarAdmin()">
        <label for="rut">Verifica tu rut</label>
        <input type="text" id="rut" [(ngModel)]="rut" name="rut" required maxlength="10"
          pattern="^[0-9]{7,8}-[0-9kK]{1}$" placeholder="Ingrese su RUT" />
        <ion-button type="submit" expand="block" fill="solid" shape="round">
          Verificar
        </ion-button>
      </form>
    </h1>

    <p *ngIf="isAdmin !== null">
      <span *ngIf="isAdmin">El RUT corresponde a un administrador.</span>
      <span *ngIf="!isAdmin">El RUT no corresponde a un administrador.</span>
    </p>

    <div class="ion-padding">
      <ion-button expand="block" shape="round" color="warning" (click)="toMenu()">
        Login
      </ion-button>
      <br><ion-button expand="block" shape="round" color="warning" (click)="toIdentificacion()">
        Registrate
      </ion-button>
      <br>
      <ion-button [disabled]="!isAdmin" expand="block" fill="solid" shape="round" (click)="toAdmin()">
        Administrador
      </ion-button>
    </div>
  </div>
</ion-content>