<ion-header>
  <ion-toolbar>
    <ion-title color="warning" class="ion-text-center">Menú</ion-title>
    <ion-icon class="ion-padding" slot="end" name="cart" (click)="verPedido()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-accordion-group #accordionComidas>
    <!-- Generar categorías dinámicamente -->
    <ion-accordion *ngFor="let categoria of categorias" [value]="categoria.nombre">
      <ion-item slot="header" color="warning" lines="full">
        <ion-icon *ngIf="categoria.icono" [name]="categoria.icono" slot="start"></ion-icon>
        <ion-label>{{ categoria.nombre }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <!-- Generar productos dinámicamente -->
          <ion-item *ngFor="let producto of categoria.productos">
            <ion-card>
              <img [alt]="producto.nombre" [src]="producto.imagen || 'assets/img/default.png'" />
              <ion-card-header>
                <ion-card-title>{{ producto.nombre }}</ion-card-title>
                <ion-card-subtitle>{{ producto.descripcion }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>Precio: {{ producto.precio | currency:'CLP' }}</ion-card-content>
              <ion-button expand="block" fill="clear" shape="round" (click)="agregarAlPedido(producto)">
                Agregar a tu pedido
              </ion-button>
            </ion-card>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button expand="block" shape="round" color="warning" type="submit" class="ion-margin-top" (click)="verPedido()">
    Ver mi pedido
  </ion-button>
</ion-content>
