<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-padding" name="arrow-back-outline" slot="start" (click)="toHome()"></ion-icon>
    <ion-title color="warning" class="ion-text-center">IDENTIFICACION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-container">
    <form class="ion-padding" #identificacionForm="ngForm" (ngSubmit)="onSubmit()">
      <ion-text class="ion-text-center" color="warning">
        <h1>Registro</h1>
      </ion-text>

      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input label="Nombre" labelPlacement="floating" required type="text" name="nombre"
          [(ngModel)]="cliente.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input label="Apellido" labelPlacement="floating" required type="text" name="apellido"
          [(ngModel)]="cliente.apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="body-outline" slot="start"></ion-icon>
        <ion-input label="Rut" labelPlacement="floating" placeholder="12345678-9" required type="text" name="rutcliente"
          [(ngModel)]="cliente.rutcliente"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input label="Correo" labelPlacement="floating" required type="email" name="correo"
          [(ngModel)]="cliente.correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input label="Clave" labelPlacement="floating" required type="password" name="clave"
          [(ngModel)]="clave"></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" color="warning" type="submit" [disabled]="identificacionForm.invalid">
        Registrarse
      </ion-button>
    </form>
  </div>
</ion-content>
