<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-padding" name="arrow-back-outline" slot="start" (click)="volverMenu()"></ion-icon>
    <ion-title color="warning" class="ion-text-center">Mi pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="dark">
          <h1>Detalles de la mesa N° {{ this.numeromesa }}</h1>
          <div class="ion-padding" *ngIf="usuario; else sinUsuario">
            <ion-text color="dark">
              <h4><strong>Rut: </strong>{{ usuario.rut }}</h4>
              <h4><strong>Correo: </strong>{{ usuario.correo }}</h4>
              <h4><strong>Cantidad de personas: </strong> {{ usuario.cantidadpersonas }}</h4>
              <h4><strong>Fecha y hora: </strong> {{ usuario.fechayhora }}</h4>
            </ion-text>
          </div>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text color="dark">
          <h1>Detalles del pedido</h1>
        </ion-text>
        <!-- Lista de productos -->
        <ion-list>
          <ion-item *ngFor="let producto of productos">
            <ion-label>
              <h2>{{ producto.nombre }}</h2>
              <p>Cantidad: {{ producto.cantidad }}</p>
              <p>Precio: ${{ producto.precio }}</p>
            </ion-label>
            <ion-badge slot="end" color="warning">Total: ${{ producto.precio * producto.cantidad }}</ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ng-template #sinUsuario>
    <div>No se ha encontrado el usuario.</div>
  </ng-template>
  
  <!-- Total acumulado -->
  <div class="total-container">
    <h3>Total del pedido: ${{ totalPedido }}</h3>
  </div>

  <!-- Botón para actualizar -->
  <ion-button expand="block" color="warning" (click)="mostrarAlerta()">
    Confirmar Pedido
  </ion-button>
</ion-content>
  