<ion-header>
  <ion-toolbar>
    <ion-title color="warning" class="ion-text-center">Historial de pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Lista de pedidos -->
  <ion-list>
    <ion-item *ngFor="let pedido of historialPedidos">
      <ion-label color="warning">
        <h2>Pedido</h2>
        <p>Fecha:</p>
        <p>Total:</p>
      </ion-label>
      <ion-button fill="outline" slot="end" color="warning" (click)="verDetalles()">
        Ver Detalles
      </ion-button>
    </ion-item>
  </ion-list>
  

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"><ion-button expand="block" shape="round" color="warning" class="ion-padding" (click)="irMenu()">
        Volver a pedir
      </ion-button></ion-col>
      <ion-col size="6"><ion-button expand="block" shape="round" color="warning" class="ion-padding">
        Cerrar app
      </ion-button></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
